<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body style="background-image: url(/static/images/adminmasterroom.jpg);
            
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;">
    <center><h1 class="inlin">Admin Dashboard</h1>
    {% if message %}
    <p class="message">{{ message }}</p>
    {% endif %}
    <h2 style="color: rgb(255, 255, 255);">Add a Book</h2>
    <div class="MainPage"><form action="/admin/dashboard" method="post" style="margin-top: 20px;">
    <input type="text" name="title" placeholder="Book Title" required>
    <input type="text" name="author" placeholder="Author Name" required>
    <input type="text" name="edition" placeholder="Edition" required>
    <select name="available">
        <option value="True" >Available</option>
        <!-- <option value="False">Not Available</option> -->
    </select>
    <button type="submit">Add Book</button>
</form></div></center>

   <center><button class="availbutton" onclick="window.location.href='/logout'"> <a href="/logout">Logout</a></button></center>
</body>
</html>
