<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body style="background-image: url(/static/images/adminroom.webp);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;">
    <center>
    <h1 class="inlin">Admin Login</h1>
    {% if message %}
    <p class="error"><span style="color:rgb(255, 0, 0)">{{ message }}</span></p>
    {% endif %}
    <div class="MainPage"><form action="/admin" method="post" style="margin-top: 15px;">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form></div></center>
   <center><button class="availbutton" onclick="window.location.href='/'">  Back to Home</button></center>
</body>
</html>
